bin/
obj/
.vs/
AppPackages/
*.user
*.pfx
TestResults/
artifacts/
*.lvault
*.lvault.bak
*.tmp
*.userprefs
*.suo
.idea/
.vscode/
存储的密码/
*.log
*.pdb
*.ilk
*.user
build/
dist/
out/
项目交接说明.txt
交接说明.txt
*.交接说明.txt
